* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.bgc {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: url(../background.png);
}
.login {
  width: 230px;
  height: 150px;
  padding: 25px;
  box-shadow: 0px 1px 2px 1px #aaaaaa, inset 0px 1px 1px rgba(255,255,255,0.7);
  border-radius: 3px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: url(../input-bg.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login > input[type="text"] {  
  transition: .3s;
  height: 40px;
  width: 180px;
  padding: 0 9px;
  border: none;
  background: #e1dcd8;
  color: rgb(98,94,91);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.7), inset 0px 2px 5px #aaaaaa;
  border-radius: 5px;
}
.login > input[type="button"] {
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ffffff;
  background: -moz-linear-gradient( top, #94aa64 0%, #7a924a 50%, #607738);
  background: -webkit-gradient( linear, left top, left bottom, from(#94aa64), color-stop(0.50, #7a924a), to(#607738));
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #7d8862;
  -moz-box-shadow: 0px 1px 0px rgba(170,170,170,1), inset 0px 1px 1px rgba(255,255,255,0.7);
  -webkit-box-shadow: 0px 1px 0px rgba(170,170,170,1), inset 0px 1px 1px rgba(255,255,255,0.7);
  box-shadow: 0px 1px 0px rgba(170,170,170,1), inset 0px 1px 1px rgba(255,255,255,0.7);
  text-shadow: 0px -1px 0px rgba(000,000,000,0.3), 0px 0px 0px rgba(255,255,255,0);
}
.login > input[type="button"]:hover {
  opacity: 0.8;
}
.login > input[type="text"]:focus {
  outline: none; 
  background: #f5f2ef;
}
main {
  word-wrap:break-word;
  height: calc(100vh - 40px);
  overflow-y: auto;
  padding: 20px;
  line-height: 1.5;
  display: flex;
  
}
main > section {
  height: 100%;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
main > .ChatContent {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 9px 0 0 9px;
  border-right: none;
}
main > .UsersList {
  padding: 1em;
  min-width: 20%;
  border: 1px solid #ccc;
  border-radius: 0 9px 9px 0;
}
main .message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: all .4s;
}

main .message.normal{
  position: static;
  transform: translate(0, 0);
  font-size: 16px;
  color: #666;
}
main .message>span {
  display: none;
  font-size: 12px;
}

main .message.normal>span {
  display: inline;
  margin-right: 10px;
  color: #999;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, .6);
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding-top: 5px;
}

footer input[type="text"] {
  height: 30px;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 3px;
}

footer .name {
  width: 30px;
}

footer .message {
  width: 400px;
}