* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
body {
  background: url(//res.wx.qq.com/a/wx_fed/webwx/res/static/img/2zrdI1g.jpg) no-repeat 50%;
}

li {
  list-style: none;
}

.bgc {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: url(../background.png);
}
.login {
  width: 230px;
  height: 150px;
  padding: 25px;
  box-shadow: 0px 1px 2px 1px #aaaaaa, inset 0px 1px 1px rgba(255,255,255,0.7);
  border-radius: 3px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: url(../input-bg.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login > input[type="text"] {  
  transition: .3s;
  height: 40px;
  width: 180px;
  padding: 0 9px;
  border: none;
  background: #e1dcd8;
  color: rgb(98,94,91);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.7), inset 0px 2px 5px #aaaaaa;
  border-radius: 5px;
}
.login > input[type="button"] {
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ffffff;
  background: -moz-linear-gradient( top, #94aa64 0%, #7a924a 50%, #607738);
  background: -webkit-gradient( linear, left top, left bottom, from(#94aa64), color-stop(0.50, #7a924a), to(#607738));
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #7d8862;
  -moz-box-shadow: 0px 1px 0px rgba(170,170,170,1), inset 0px 1px 1px rgba(255,255,255,0.7);
  -webkit-box-shadow: 0px 1px 0px rgba(170,170,170,1), inset 0px 1px 1px rgba(255,255,255,0.7);
  box-shadow: 0px 1px 0px rgba(170,170,170,1), inset 0px 1px 1px rgba(255,255,255,0.7);
  text-shadow: 0px -1px 0px rgba(000,000,000,0.3), 0px 0px 0px rgba(255,255,255,0);
}
.login > input[type="button"]:hover {
  opacity: 0.8;
}
.login > input[type="text"]:focus {
  outline: none; 
  background: #f5f2ef;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
main {
  word-wrap:break-word;
  height: calc(100vh - 40px);
  overflow-y: auto;
  padding: 20px;
  line-height: 1.5;
  display: flex;
  width: 900px;
}
main section, main > div {
  height: 100%;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
main > div {
  width: 75%;
}
main .ChatContent {
  width: 100%;
  height: 75%;
  padding: 18px 9px;
  border: 1px solid #ccc;
  border-radius: 9px 0 0 0px;
  border-right: none;
  background-color: #eee;
  overflow-y: auto;
}
.ChatContent >.message {
  border-radius: 4px;
  padding: 4px;
  margin-top: 3px;
  clear: both;
}
.ChatContent >.message.normal.left {
  float: left;
  background-color: #5cb85c;
}
.ChatContent >.message.normal.left:hover {
  opacity: .9;
}
.ChatContent >.message.normal.right {
  float: right;
  background-color: #5bc0de;
}
.ChatContent >.message.normal.right:hover {
  opacity: .9;
}
main .content>footer {
  height: 25%;
  width: 100%;
  background-color: #eee;
  padding: 9px 18px;
  border-radius: 0 0 0 9px;
}
main .content>footer .tools {
  border-bottom: 1px solid #ccc;
  display: flex;
}
main .tools label {
  margin-left: 10px;
  margin-bottom: 2px;
  background-color: #94aa64;
  color: #fff;
  padding: 0 4px;
  border-radius: 2px;
  cursor: pointer;
  transition: .3s;
}
main .tools label:hover {
  background-color: #70804d;
}
#fileupload {
  display: none;
}
main .content>footer .message {
  padding-top: 4px;
  height: 80%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 9px;
  background-color: #eee;
  outline: none;
  border: 0;
  font-size: 14px;
  resize: none;
}
main .UsersList {
  padding: 1em;
  min-width: 25%;
  border: 1px solid #ccc;
  border-radius: 0 9px 9px 0;
  background: #2e3238;
  color: white;
}
main .UserName>li {
  padding: 12px 18px 11px;
  border-bottom: 1px solid #292c33;
  cursor: pointer;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}
main .UserName>li:hover {
  background-color: #292c33;
}
main .ChatContent .message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  transition: all .4s;
}
main .ChatContent .uploadPic {
  width: 100px;
  height: auto;
}
main .message.normal{
  position: static;
  transform: translate(0, 0);
  font-size: 16px;
  color: #fff;
}
main .message>span {
  display: none;
  font-size: 12px;
}

main .message.normal>span {
  display: inline;
  color: #999;
}
.banquan {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.banquan > p {
  text-align: center;
  color: #333;
}